/*list-x star*/
.list-w1 {
	width:18%;
	padding-left:20px;	
}
.list-w1 .title-w1 {
	height:30px;
	color:#000;
	font-family:"Microsoft YaHei";
}
.list-w1 li {
	line-height:18px;
}
.list-w1 li a {
	color:#328ccf;
	font-family:"Microsoft YaHei";
}
.list-w2 {
	margin:10px 62px 22px 62px;
}
.list-w2 li {
	/*padding:16px 0;*/
	line-height:47px;
	border-bottom:1px solid #E3E3E3;
}
.list-w2 li span {
	float:right;
}
.list-w2 li em {
	color:#209ECF;
	padding-right:8px;
}
.list-w2 li a:hover {
	color:#00A2CA;
}
.list-w3 {
}
.list-w3 li {
	float:left;
	padding:6px 14px;
	font-size:14px;
	font-family:"Microsoft YaHei";
	display:inline;
	cursor:default;
}
.list-w3 li.on {
	border-bottom:2px solid #000;
}
.regiter-list {
	border-top:1px solid #ddd;
	padding:23px 0 0 85px;
}
.regiter-list li {
	line-height:26px;
	padding-left:15px;
	color:#939393;
	font-size:13px;
	font-family:"Microsoft YaHei";
	background:url(../images/icon-2.gif) no-repeat left center;
}
.regiter-list li.li-t1 {
	line-height:21px;
	color:#333;
	background:none;
	padding-left:0;
}
.regiter-list .btn-w4 {
	padding:0 5px;
	background:#91CCEE;
	color:#fff;
}
.list-w4 {
	height:36px;
	border-bottom:1px solid #D5D5D5;
}
.list-w4 li {
	padding:0 20px;
	height:36px;
	line-height:36px;
	text-align:center;
	float:left;
	font-size:17px;
	font-family:"Microsoft YaHei";
	cursor:pointer;
	border:1px solid #D5D5D5;
	border-bottom:none;
	margin-right:5px;
}
.list-w4 li.on  {
	border-top:2px solid #11A5CD;
	background:#fff;
	height:35px;
	line-height:34px;
	overflow:hidden;
	_position:relative;
	_top:1px;
}
.list-w4-1 li {
	padding-top:0!important;
	line-height:36px!important;
	clear:none!important;
}
.list-w5 {
}
.list-w5 li {
	line-height:20px;
	padding-left:10px;
	color:#333;
	font-family:"Microsoft YaHei";
	background:url(../images/icon-5.jpg) no-repeat left 8px;
}
.list-w5 li.title-w4 {
	background:none;
	font-size:15px;
	padding:10px 0;
	font-weight:bold;
}
.list-w6 {
}
.list-w6 li {
	/*padding-left:10px;*/
	/*border-bottom:1px dashed #ADADAD;*/
}
.list-w6 li a {
	/*width:78%;*/
	height:35px;
	line-height:35px;
	font-size:12px;
	display:block;
	padding-left:35px;
	color:#6E6E6C;
	font-family:"Microsoft YaHei";
	background:url(../images/icon-sub-nav-1.png) no-repeat;
}
.list-w6 li a:hover {
	text-decoration:none; background-color:#fff;box-shadow: 0px 0px 5px rgba(200,200,200,0.5);
}
/*.list-w6 li.h {
	background:#e4e4e4;
	cursor:pointer;
}*/

.list-w6 li .i-1 {
	background-position:7px 0;
}
.list-w6 li .i-2 {
	background-position:7px -35px;
}
.list-w6 li .i-3 {
	background-position:7px -70px;
}
.list-w6 li .i-4 {
	background-position:7px -105px;
}
.list-w6 li .i-5 {
	background-position:7px -140px;
}
.list-w6 li .i-6 {
	background-position:7px -175px;
}
.list-w6 li .i-7 {
	background-position:7px -210px;
}

.list-w6 li .i-8 {
	background-position:7px -490px;
}
.list-w6 li .i-9 {
	background-position:7px -525px;
}
.list-w6 li .i-10 {
	background-position:7px -560px;
}
.list-w6 li .i-11 {
	background-position:7px -595px;
}
.list-w6 li .i-12 {
	background-position:7px -630px;
}
.list-w6 li .i-13 {
	background-position:7px -665px;
}
.list-w6 li .i-14 {
	background-position:7px -700px;
}


.list-w6 .li-active {
	background:#fff;
	box-shadow: 0px 0px 5px rgba(200,200,200,0.5);
	/*background:url(../images/li-bg.png) repeat-x;*/
}
.list-w6 .li-active .i-1,.list-w6 .i-1:hover {
	background-position:7px -245px;
}
.list-w6 .li-active .i-2,.list-w6 .i-2:hover {
	background-position:7px -280px;
}
.list-w6 .li-active .i-3 ,.list-w6 .i-3:hover{
	background-position:7px -315px;
}
.list-w6 .li-active .i-4,.list-w6 .i-4:hover {
	background-position:7px -350px;
}
.list-w6 .li-active .i-5,.list-w6 .i-5:hover {
	background-position:7px -385px;
}
.list-w6 .li-active .i-6,.list-w6 .i-6:hover {
	background-position:7px -420px;
}
.list-w6 .li-active .i-7,.list-w6 .i-7:hover {
	background-position:7px -455px;
}

.list-w6 .li-active .i-8,.list-w6 .i-8:hover {
	background-position:7px -735px;
}
.list-w6 .li-active .i-9,.list-w6 .i-9:hover {
	background-position:7px -770px;
}
.list-w6 .li-active .i-10,.list-w6 .i-10:hover {
	background-position:7px -805px;
}
.list-w6 .li-active .i-11,.list-w6 .i-11:hover {
	background-position:7px -840px;
}
.list-w6 .li-active .i-12,.list-w6 .i-12:hover {
	background-position:7px -875px;
}
.list-w6 .li-active .i-13,.list-w6 .i-13:hover {
	background-position:7px -910px;
}
.list-w6 .li-active .i-14,.list-w6 .i-14:hover {
	background-position:7px -945px;
}

.list-w6 .li-active a {
	color:#000;
}

.list-w6-1 li i.i-6 {
	background:url(../images/icon-yun.png) no-repeat 0 12px;
	_background:url(../images/icon-yun.gif) no-repeat 0 12px;
}
.list-w6-1 li i.i-7 {
	background:url(../images/icon-bei.png) no-repeat  0 12px;
	_background:url(../images/icon-bei.gif) no-repeat  0 12px;
}
.list-w6-1 li i.i-8 {
	background:url(../images/icon-gong.png) no-repeat 0 12px;
	_background:url(../images/icon-gong.gif) no-repeat 0 12px;
}
.list-w6-1 li i.i-9 {
	background:url(../images/icon-fu.png) no-repeat 0 12px;
	_background:url(../images/icon-fu.gif) no-repeat 0 12px;
}
.list-w6-1 li i.i-10 {
	background:url(../images/icon-fang.png) no-repeat 0 12px;
	_background:url(../images/icon-fang.gif) no-repeat 0 12px;
}
.list-w6-1 li i.i-11 {
	background:url(../images/icon-ri.png) no-repeat 0 12px;
	_background:url(../images/icon-ri.gif) no-repeat 0 12px;
}
.list-w6-1 li i.i-12 {
	background:url(../images/icon-xiao.png) no-repeat 0 12px;
	_background:url(../images/icon-xiao.gif) no-repeat 0 12px;
}
.list-w6-1 li i.i-13 {
	background:url(../images/icon-dan.png) no-repeat 0 12px;
	_background:url(../images/icon-dan.gif) no-repeat 0 12px;
}
.list-w6-1 li i.i-14 {
	background:url(../images/icon-ci.png) no-repeat 0 12px;
	_background:url(../images/icon-ci.gif) no-repeat 0 12px;
}
.list-w6-1 li i.i-15 {
	background:url(../images/icon-ying.png) no-repeat 0 12px;
	_background:url(../images/icon-ying.gif) no-repeat 0 12px;
}
.list-w6-1 li i.i-16 {
	background:url(../images/icon-an.png) no-repeat 0 12px;
	_background:url(../images/icon-an.gif) no-repeat 0 12px;
}
.list-w6-1 .li-active i.i-6,.list-w6-1 li.h i.i-6 {
	background-position:-52px 12px;
}
.list-w6-1 .li-active i.i-7,.list-w6-1 li.h i.i-7 {
	background-position:-52px 12px;
}
.list-w6-1 .li-active i.i-8,.list-w6-1 li.h i.i-8 {
	background-position:-52px 12px;
}
.list-w6-1 .li-active i.i-9,.list-w6-1 li.h i.i-9 {
	background-position:-52px 12px;
}
.list-w6-1 .li-active i.i-10,.list-w6-1 li.h i.i-10 {
	background-position:-52px 12px;
}
.list-w6-1 .li-active i.i-11,.list-w6-1 li.h i.i-11 {
	background-position:-52px 12px;
}
.list-w6-1 .li-active i.i-12,.list-w6-1 li.h i.i-12 {
	background-position:-52px 12px;
}
.list-w6-1 .li-active i.i-13,.list-w6-1 li.h i.i-13 {
	background-position:-52px 12px;
}
.list-w6-1 .li-active i.i-14,.list-w6-1 li.h i.i-14 {
	background-position:-51px 12px;
}
.list-w6-1 .li-active i.i-15,.list-w6-1 li.h i.i-15 {
	background-position:-53px 12px;
}
.list-w6-1 .li-active i.i-16,.list-w6-1 li.h i.i-16 {
	background-position:-51px 12px;
}
.list-w7 {
	height:38px;
	margin-top:20px;
	border-bottom:1px solid #eee;
}
.list-w7 li {
	width:250px;
	height:37px;
	line-height:37px;
	text-align:center;
	float:left;
	font-size:18px;
	font-family:"Microsoft YaHei";
	cursor:pointer;
	border:1px solid #eee;
	border-bottom:none;
	margin-right:5px;
	border-top:2px solid #2D9ADF;
	background:#fff;
}
.list-w8 {
	font-family:"Microsoft YaHei";
}
.list-w8 li {
	padding-top:20px;
	line-height:21px;
	clear:both;
}
.list-w8 li .s-t1,.list-w8 li .s-t3 {
	width:80px;
	display:inline-block;
	text-align:right;
	color:#333;
	float:left;
	font-size:14px;
	line-height:21px;
	font-family:"Microsoft YaHei";
	padding-right:7px;
}
.list-w8 a.li-al,.list-w8 a.li-ar {
	width:22px;
	height:23px;
	display:inline-block;
	vertical-align:middle;
}
.list-w8 a.li-al {
	background:url(../images/icon-4.png) no-repeat;
}
.list-w8 a.li-ar {
	background:url(../images/icon-5.png) no-repeat;
}
.list-w8-1 li {
	padding-top:20px;
}
.list-w2-1 li .s-t1 {
	width:95px;
}
.list-w8-2 a,.list-w8-3 a{
	margin-right:10px;
}
.list-w8-2 a.a-add {
	display:inline-block;
	background:url(../images/icon-2n.png) no-repeat left center;
	padding-left:15px;
}
.list-w8 li.li-border {
	/*border-top:1px dashed #D6D6D6;*/
}
.list-w8 a.li-al,.list-w8 a.li-ar {
	width:22px;
	height:23px;
	display:inline-block;
	vertical-align:middle;
}
.list-w8 a.li-al {
	background:url(../images/icon-4n.png) no-repeat;
	margin-right:0;
}
.list-w8 a.li-ar {
	background:url(../images/icon-5n.png) no-repeat;
}
.list-w8-1 li {
	padding-top:20px;
}
.list-w8 li .s-t3 {
	width:120px;
}
.right-con {
	float:left;
}
.list-step {
}
.list-step li {
	width:90px;
	height:auto;
	float:left;
	text-align:center;
	margin:10px;
	_display:inline;
}
.list-step li p {
	margin-top:10px;
	line-height:20px;
}
.list-w10 {
	width:40%;
	padding:5px 30px;
}
.list-w10 li {
	color:#666;
	line-height:25px;
}
.list-w10 li.title {
	font-weight:bold;
	padding-bottom:5px;
}
.border-r {
	border-right:1px solid #999;
}



.dl-list1 {
	padding:20px 0 10px;
	border-bottom:1px dotted #ccc;
}
.last {
	border-bottom:none;
}
.dl-list1 dt {
	width:80px;
	float:left;
	font-size:15px;
	font-weight:bold;
	color:#4e4e4e;
	font-family:"Microsoft YaHei";
	padding-top:60px;
}
.dl-list1 dt.icon-dt {
	background:url(../images/icon-safety.gif) no-repeat;
}
.dl-list1 dt.dt1 {
	background-position:1px -10px;
}
.dl-list1 dt.dt2 {
	background-position:1px -125px;
}
.dl-list1 dt.dt3 {
	background-position:1px -235px;
}
.dl-list1 dt.dt4 {
	background-position:1px -345px;
}
.dl-list1 .dd-w3 {
	width:65%;
	float:left;
	line-height:21px;
	font-size:14px;
	color:#666;
	font-family:"Microsoft YaHei";
	padding-top:25px;
}
.dl-list1 .dd-w4 {
	width:20%;
	float:right;
	text-align:right;
	padding-top:25px;
}
.dl-list1 .dd-w4 a {
	margin-right:15px;
	font-size:15px;
	font-weight:bold;
	font-family:"Microsoft YaHei";
}
.dl-list1 .dd-w4 .icon-a {
	background:url(../images/icon-8.jpg) no-repeat left center;
	padding-left:20px;
}
.operate-list {
	height:41px;
	margin:10px 0 20px 0;
	position:relative;
}
.operate-list li {
	height:41px;
	float:left;
	margin-right:5px;
	display:inline;
	position:relative;
}
.operate-list li.more-li {
	background:#358CD1;
	border-radius:3px;
}
.operate-list li button {
	width:86px;
	height:41px;
	line-height:41px;
	border:none;
	padding:0;
	cursor:pointer;
	background:url(../images/btn-bg4.gif) no-repeat;
}
.operate-list li.first button {
	width:55px;
	height:41px;
	background:url(../images/btn-bg5.gif) no-repeat;
}
.operate-list li button:hover {
	background-position:0 -51px;
}
.operate-list li button:active {
	background-position:0 -102px;
}

.operate-list li span,.operate-list li a {
	width:74px;
	height:41px;
	color:#fff;
	font-size:14px;
	display:inline-block;
	padding-left:10px;
	background:url(../images/icon-14.png) no-repeat 5px 14px;
	_background:url(../images/icon-13.gif) no-repeat 5px 14px;
}
.operate-list li.first span {
	width:43px;
}
.operate-list li a:hover {
	text-decoration:none;
}
.operate-list li span.add {
	background-position:13px 15px;
}
.operate-list li span.paly {
	background-position:5px -23px;
}
.operate-list li span.close {
	background-position:5px -70px;
}
.operate-list li span.reset-q {
	background-position:5px -117px;
}
.operate-list li span.reset {
	background-position:5px -163px;
}
.operate-list li span.renew {
	background-position:5px -204px;
}
.operate-list li a.more {
	width:auto;
    background-position: 95px -243px;
    padding: 0 27px 0 25px;
	line-height:41px;
}
.operate-list li a.more-h{
	background:url(../images/icon-more-h.png) no-repeat 102px center;
	_background:url(../images/icon-more-h.gif) no-repeat 102px center;
}
.operate-dl {
	width:100%;
	position:absolute;
	top:41px;
	left:0;
	display:none;
}
.operate-dl dd {
	line-height:37px;
	background:#2978BA;
	padding:0 0 0 10px;
	border-bottom:1px solid #5D97C5;
}
.operate-dl dd span {
	line-height:37px;
	padding:0 27px 0 40px;
}
.operate-dl .upgrade {
	background-position:5px -283px;
	padding-left:30px;
}
.operate-dl .pwd {
	padding-right:0;
	background-position:5px -327px;
	padding-left:30px;
}
.operate-list .search {
	width:215px;
	height:41px;
	background:url(../images/search-bg.gif) no-repeat;
	position:absolute;
	right:0;
}
.text-1 {
	width:170px;
	height:33px;
	line-height:33px;
	font-size:14px;
	margin:4px 0 0 15px;
	border:1px solid #fff;
	_margin-top:3px;
	
}
.search-btn {
	width:16px;
	height:16px;
	background:url(../images/search-bg1.gif) no-repeat;
	border:none;
}
.list-item {
	width:190px;
	height:153px;
	float:left;
	padding:5px;
	display:inline;
	margin:0 0 5px 10px;	
	cursor:pointer;
	background:url(../images/bg-w1.png) no-repeat left top;
	_background:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../pub-ui/images/bg-w1.png",sizingMethod='crop');
	
}
.list-item-bg {
	background:url(../images/bg-w2.png) no-repeat left top;
	_background:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../pub-ui/images/bg-w2.png",sizingMethod='crop');
}
.list-item .item-left {
	width:50%;
	text-align:center;
}
.list-item .item-left span {
	width:54px;
	height:30px;
	display:inline-block;
	margin-top:15px;
	background:url(../images/icon-15.png) no-repeat;
	_background:url(../images/icon-16.gif) no-repeat;
}
.list-item .item-left .icon1 {
	background-position:9px 0;
}
.list-item .item-left .icon2 {
	background-position:9px -45px;
}
.list-item .item-left .icon3 {
	background-position:9px -100px;
}
.list-item .item-left .icon4 {
	background-position:9px -153px;
}
.list-item .item-left .icon5 {
	background-position:9px -210px;
}
.list-item .item-left .icon6 {
	background-position:9px -260px;
}
.list-item .item-left .icon7 {
	background-position:9px -312px;
}
.list-item .item-left .icon8 {
	background-position:9px -365px;
}
.list-item .item-left .icon9 {
	background-position:9px -423px;
}
.list-item .item-left .icon10 {
	background-position:9px -485px;
}
.list-item .item-left .icon11 {
	background-position:9px -550px;
}
.list-item .item-left .icon12 {
	background-position:9px -615px;
}
.list-item .item-left .icon13 {
	background-position:9px -683px;
}
.list-item .item-left .icon14 {
	background-position:9px -751px;
}
.list-item .item-left .icon15 {
	background-position:9px -828px;
}
.list-item .item-left p {
	font-size:16px;
	padding-top:8px;
	font-family:"Microsoft YaHei";
}
.strong-s {
	width:40%;
	float:right;
	padding-top:10px;
	text-align:center;
	display:inline-block;
	font-size:60px;
	font-family:"Arial";
	color:#358CD1;
}
.list-w9 {
}
.list-w9 li {
	height:45px;
	line-height:45px;
	padding:0 15px;
	border-bottom:1px solid #ccc;
}
.list-w9 li em {
	float:right;
}
.list-w9 li .check-box {
	margin-right:15px;
	vertical-align:middle;
}
.pay-list li {
    float: left;
    padding: 20px;
    position: relative;
    width: 160px;
}
.pay-list li input {
    border: medium none;
    margin-right: 5px;
    vertical-align: middle;
}
.pay-list img {
    border: 1px solid #DDDDDD;
    height: 32px;
    vertical-align: middle;
    width: 124px;
}
.pay-list li.link-other {
    font-weight: bold;
    line-height: 36px;
    text-align: center;
}
.pay-list li.link-other a {
    color: #007BC7;
}
.pay-list-2 img.border-ore, .pay-list img.border-ore {
    border: 1px solid #FFBF75;
}
.thick-list {
}
.thick-list li {
	padding:12px 0;
}
.thick-list li span {
	width:110px;
	display:inline-block;
	text-align:right;
	font-size:14px;
	padding-right:10px;
	font-family:"Microsoft YaHei"; 
}
.list-w11 {
}
.list-w11 li {
	height:35px;
	line-height:35px;
	border-bottom:1px dashed #E7E7E7;
	text-indent:1em;
}
.list-w11 li a {
	color:#00A2CA;
}
.list-w12 {
}
.list-w12 li {
	line-height:20px;
	font-size:14px;
	font-family:"Microsoft YaHei"; 
	padding:10px 0;
	color:#666;
}
.list-w12 li a {
	color:#00A2CA;
}
.list-side1 {
	margin-left:20px;
}
.list-side1 li {
	line-height:45px;
	border-bottom:1px dashed #878787;
	color:#666;
	font-size:14px;
}
.list-side1 li .s-t2 {
	color:#666;
	font-size:14px;
	display:block;
	background:url(../images/icon-arrowd.gif) no-repeat 90% 20px;
}
.list-side1 li .s-t2on {
	background:url(../images/icon-arrowt.gif) no-repeat 90% 18px;
}
.list-side1 li .dl-list2 {
	display:none;
}
.list-side1 li dl dd {
	line-height:35px;
	color:#666;
	text-indent:2em;
	cursor:pointer;
}
.list-side1 li dl .dd-on {
	background:#fff
}
.list-side1 li dl .dd-cut em {
	display:block;
	background:url(../images/icon-add.gif) no-repeat 5px 11px;
}
.list-side1 li dl .dd-cut .em-on {
	display:block;
	background:#fff url(../images/icon-cut.gif) no-repeat 5px 11px;
}
.list-side1 li dl .dd-cut .son-p {
	text-indent:3em;
	display:none;
}
.list-side1 li dl .dd-cut .son-p span{
	display:block;
	color:#666;
}
.list-trends { padding:0 25px 30px 0;}
.list-trends dd { width:49.9%; float:left; height:40px; line-height:40px; display:inline;}
.list-trends dd p { padding-left:25px; font-family:"Microsoft YaHei";}
.list-trends dd.last1 p { border-bottom:none;}
.list-trends .red { color:#CE1B1B;}
.list-trends .blue { color:#328CCF;}
.list-trends a { position:relative; width:400px; display:inline-block; font-weight:700; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; }
.list-trends a.a-hover { padding-left:5px;}
.list-trends a:hover { text-decoration:none;}
/*list-x end*/
/*compose-x star*/
.compose-w1 {
	margin:10px 10px 30px 10px;
}
.compose-w1 .dd-w1 {
	width:50%;
}
.compose-w1 .dd-w1 p {
	font-size:14px;
	line-height:29px;
	text-indent:2em;
}
.compose-w1 dt {
	width:20%;
	text-align:center;
	margin-top:20px;
}
.compose-w1 .dd-w2 {
	width:28%;
	text-align:center;
	/*border-left:1px dotted #dcdcdc;*/
	/*padding:20px 0;*/
}
.compose-w2 {
	padding:25px 0;
	border-bottom:1px dotted #dcdcdc;
}
.compose-w2 dt {
	width:20%;
	text-align:center;
	float:left;
}
.compose-w2 dd {
	width:75%;
	float:right;
	padding-top:20px;
}
.compose-w2 dd p {
	font-size:16px;
	height:37px;
	font-family:"Microsoft YaHei";
}
.compose-w3 {
	height:96px;
	margin-top:10px;
	padding:0 15px;
	border-bottom:1px solid #DADADA;
}
.compose-w3 dt {
	width:97px;
	float:left;
}
.compose-w3 dt img {
	border:1px solid #CCE0EB;
}
.compose-w3 dd {
	padding:13px 0 0 110px;
	font-size:16px;
	line-height:23px;
	font-family:"Microsoft YaHei";	
}
/*compose-x end*/
.help-main .help-menu dl .current-ddhover {
	background:#e1e1e1; 
	margin-left:-18px; 
	margin-right:-18px; 
	padding-left:38px; 
	opacity:.85;
	filter:alpha(opacity=85);
}
