<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body>
	<div data-role="ued-dialog" class="ued-dialog" id="email_div" style="width: 600px;">
		<div class="dialog-header">
			<h3>Email配置</h3>
			<span class="dialog-tool"> <a title="关闭" class="dialog-close">X</a>
			</span>
		</div>
		<div class="dialog-con pdl-20 pdr-20">
			<table border="0" width="100%" cellpadding="0" cellspacing="0" class="table-f2 mgb-20">
				<tr>
					<th><em class="font-red">*</em>邮件接收地址:</th>
					<td><input type="text" value="" class="input-1c input-1c-1" name="to" id="email_to"></input></td>
				</tr>
				<tr>
					<th>邮件抄送地址:</th>
					<td><input type="text" value="" class="input-1c input-1c-1" name="cc"></input></td>
				</tr>
				<tr>
					<th><em class="font-red">*</em>邮件主题:</th>
					<td><input type="text" value="" class="input-1c input-1c-1" name="theme" id="email_subject"></input></td>
				</tr>
				<tr>
					<th><em class="font-red">*</em>邮件正文:</th>
					<td><textarea rows="4" class="ued-test-textarea" name="body" id="email_body"></textarea></td>
				</tr>
			</table>
			<div class="pd-10 tc">
				<button type="button" class="ued-button-2 mgr-25" onclick="saveEmail(this);">确定</button>
				<button type="button" class="ued-button-3 dialog-close">取消</button>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="/design/action/email.js"></script>
</body>