<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body>
<div data-role="ued-dialog" class="ued-dialog" id="extract_div" style="width: 600px;">
    <div class="dialog-header">
        <h3>Extract配置</h3>
        <span class="dialog-tool">
            <a title="关闭" class="dialog-close">X</a>
        </span>
    </div>
    <div class="dialog-con pdl-20 pdr-20">
        <table border="0" width="100%" cellpadding="0" cellspacing="0"
			class="table-f2 mgb-20">
			<tr>
				<th>数据库服务器地址:</th>
				<td><input type="text" value="" class="input-1c input-1c-6"
					name="ip"></input></td>
				<th>数据库服务器端口:</th>
				<td><input type="text" value="" class="input-1c input-1c-6"
					name="port"></input></td>
			</tr>
			<tr>
				<th>连接用户名:</th>
				<td><input type="text" value="" class="input-1c input-1c-6"
					name="user"></input></td>
				<th>连接密码:</th>
				<td><input type="password" value="" class="input-1c input-1c-6"
					name="pwd"></input></td>
			</tr>
			<tr>
				<th>hdfs路径:</th>
				<td><input type="text" value="" class="input-1c input-1c-6"
					name="hdfs_dir"></input></td>
			</tr>
			<tr>
				<th>文件名称:</th>
				<td><textarea type="text" value="" class="ued-test-textarea"
						name="file_name"></textarea></td>
			</tr>
			<tr>
				<th>SQL语句:</th>
				<td colspan="3"><textarea type="text" value="" rows="3"
						cols="70" name="sql"></textarea></td>
			</tr>
			<tr>
				<th>分隔符:</th>
				<td colspan="3"><textarea class="ued-test-textarea" type="text" value="" rows="3"
						cols="70" name="splitter"></textarea></td>
			</tr>
			<tr>
				<th>单个文件最大尺寸:</th>
				<td colspan="3"><select name="size_max" class="input-1c"
					style="position: relative; height: 25px; width:152px; line-height: 25px; top: 3px; border-color: #e6e6e6;">
						<option value="2">2M</option>
						<option value="4">4M</option>
				</select></td>
				<th>单位:</th>
				<td colspan="3"><input value="" class="input-1c input-1c-6"
					name="unit"></input></td>
			</tr>
			<tr>
				<th>预先删除路径:</th>
				<td colspan="3"><textarea class="ued-test-textarea" name="delete"
						title='多条内容请用";"隔开' rows="3"></textarea></td>
			</tr>
			<tr>
				<th>预先创建路径:</th>
				<td colspan="3"><textarea class="ued-test-textarea" name="mkdir"
						title='多条内容请用";"隔开' rows="3" cols="70"></textarea></td>
			</tr>

		</table>
        <div class="pd-10 tc">
            <button type="button" class="ued-button-2 mgr-25" onclick="htmltojson(this);">确定</button>
            <button type="button" class="ued-button-3 dialog-close">取消</button>
        </div>
    </div>
</div>

</body>