<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body>


	<div data-role="ued-dialog" class="ued-dialog" id="java_div"
		style="width: 600px;">
		<div class="dialog-header">
			<h3>Java配置</h3>
			<span class="dialog-tool"> <a title="关闭" class="dialog-close">X</a>
			</span>
		</div>
		<div class="dialog-con pdl-20 pdr-20">
			<table border="0" width="100%" cellpadding="0" cellspacing="0"
				class="table-f2 mgb-20">
				<tr>
					<th><em class="font-red">*</em>java类名:</th>
					<td><input type="text" value="" class="input-1c input-1c-1"
						id="main_class" name="main-class"></input></td>

				</tr>
				<tr id="job_xml">
					<th>job-xml:</th>
					<td colspan="3"><input type="text" value=""class="input-1c input-1c-1" name="job-xml"></input></td>
				</tr>
				<tr>
					<th>java参数:</th>
					<td colspan="3"><input type="text" value=""class="input-1c input-1c-1" name="java-opts"></input></td>
				</tr>				
				<tr>
					<th>自定义参数:</th>
					<td colspan="3"><textarea value="" class="ued-test-textarea"
							name="arg"></textarea></td>
				</tr>
				<tr>
					<th>预先删除路径:</th>
					<td colspan="3"><textarea class="ued-test-textarea"
							name="delete" placeholder='多条内容请用";"隔开' rows="3"></textarea></td>
				</tr>
				<tr>
					<th>预先创建路径:</th>
					<td colspan="3"><textarea class="ued-test-textarea"
							name="mkdir" placeholder='多条内容请用";"隔开' rows="3" cols="70"></textarea></td>
				</tr>
				<tr>
					<th>引用文件包:</th>
					<td colspan="3"><input class="ued-test-textarea"
							name="file" placeholder='多条内容请用";"隔开' rows="1" cols="80"></input></td>
				</tr>
				<tr>
					<th><em class="font-red">*</em>执行Jar包:</th>
					<td colspan="3"><textarea class="ued-test-textarea"
							name="archive" id="java_jar" placeholder='多条内容请用";"隔开' rows="1" cols="80"></textarea></td>
				</tr>
				<tr>
					<th><em class="font-red">*</em>使用队列:</th>
					<td colspan="3"><input type="text" value=""
						class="input-1c input-1c-1" id="idFormQueue_java" name="queue" readonly="readonly"></input></td>
				</tr>
				<tr>
					<th>是否捕获参数:</th>
					<td colspan="3"><select name="capture-output">
							<option value="Y">是</option>
							<option value="N">否</option>
					</select></td>
				</tr>
			</table>
			<div class="pd-10 tc">
				<button type="button" class="ued-button-2 mgr-25" onclick="saveJava(this);">确定</button>
				<button type="button" class="ued-button-3 dialog-close">取消</button>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="/design/action/java.js"></script>
</body>