<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body>
<div data-role="ued-dialog" class="ued-dialog" id="load_div" style="width: 600px;">
    <div class="dialog-header">
        <h3>Load配置</h3>
        <span class="dialog-tool">
            <a title="关闭" class="dialog-close">X</a>
        </span>
    </div>
    <div class="dialog-con pdl-20 pdr-20">
        <table border="0" width="100%" cellpadding="0" cellspacing="0"
			class="table-f2 mgb-20">
			<tr>
				<th>数据库服务器地址:</th>
				<td><input type="text" value="" class="input-1c input-1c-6"
					name="ip"></input></td>
				<th>数据库服务器端口:</th>
				<td><input type="text" value="" class="input-1c input-1c-6"
					name="port"></input></td>
			</tr>
			<tr>
				<th>连接用户名:</th>
				<td><input type="text" value="" class="input-1c input-1c-6"
					name="user"></input></td>
				<th>连接密码:</th>
				<td><input type="password" value="" class="input-1c input-1c-6"
					name="pwd"></input></td>
			</tr>
			<tr>
				<th>数据库服务id:</th>
				<td><input type="text" value="" class="input-1c input-1c-6"
					name="sid"></input></td>
			</tr>
			<tr>
				<th>host主机ip:</th>
				<td colspan="3"><textarea class="ued-test-textarea" type="text" value="" rows="3"
						cols="70" name="hostip"></textarea></td>
			</tr>
			<tr>
				<th>host主机端口:</th>
				<td colspan="3"><textarea class="ued-test-textarea" type="text" value="" rows="3"
						cols="70" name="hostport"></textarea></td>
			</tr>
			<tr>
				<th>host主机用户:</th>
				<td colspan="3"><textarea class="ued-test-textarea" type="text" value="" rows="3"
						cols="70" name="hostuser"></textarea></td>
			</tr>
			<tr>
				<th>host主机密码:</th>
				<td colspan="3"><textarea class="ued-test-textarea" type="password" value="" rows="3"
						cols="70" name="hostpwd"></textarea></td>
			</tr>
			<tr>
				<th>加载文件路径:</th>
				<td colspan="3"><textarea class="ued-test-textarea" type="text" value="" rows="3"
						cols="70" name="local_dir"></textarea></td>
			</tr>
			<tr>
				<th>文件名称:</th>
				<td colspan="3"><textarea class="ued-test-textarea" type="text" value="" rows="3"
						cols="70" name="file_name"></textarea></td>
			</tr>
			<tr>
				<th>加载参数:</th>
				<td colspan="3"><textarea class="ued-test-textarea" type="text" value="" rows="3"
						cols="70" name="paras"></textarea></td>
			</tr>
			<tr>
				<th>预先删除路径:</th>
				<td colspan="3"><textarea class="ued-test-textarea" name="delete"
						title='多条内容请用";"隔开' rows="3"></textarea></td>
			</tr>
			<tr>
				<th>预先创建路径:</th>
				<td colspan="3"><textarea class="ued-test-textarea" name="mkdir"
						title='多条内容请用";"隔开' rows="3" cols="70"></textarea></td>
			</tr>

		</table>
        <div class="pd-10 tc">
            <button type="button" class="ued-button-2 mgr-25" onclick="htmltojson(this);">确定</button>
            <button type="button" class="ued-button-3 dialog-close">取消</button>
        </div>
    </div>
</div>
</body>