<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body>

<div data-role="ued-dialog" class="ued-dialog" id="sqoop_div" style="width: 700px;">
    <div class="dialog-header">
        <h3>Sqoop配置</h3>
        <span class="dialog-tool">
            <a title="关闭" class="dialog-close">X</a>
        </span>
    </div>
    <div class="dialog-con pdl-20 pdr-20 pdt-2">
        <table border="0" width="100%" cellpadding="0" cellspacing="0"
			class="table-f2 mgb-20">
			<tr>
				<th>sqoop命令行:</th>
				<td colspan="3"><textarea class="ued-test-textarea" name="command"
					rows="3" id="sqoop_command"></textarea></td>
			</tr>
			<tr>
				<th>sqoop命令参数:</th>
				<td colspan="3"><textarea class="ued-test-textarea" name="arg"
						placeholder='多条内容请用";"隔开(已输入【sqoop命令行】，此项不可再输入！)' rows="3" id="sqoop_arg"></textarea></td>
			</tr>
			<tr>
				<th>配置文件:</th>
				<td colspan="2"><textarea class="ued-test-textarea" name="job-xml"
						placeholder='多条内容请用";"隔开' rows="2"></textarea></td>
			</tr>
			<tr>
				<th>脚本文件:</th>
				<td colspan="2"><textarea class="ued-test-textarea" name="file"
						placeholder='多条内容请用";"隔开' rows="3"></textarea></td>
			</tr>

			<tr>
				<th>预先删除路径:</th>
				<td colspan="2"><textarea class="ued-test-textarea" name="delete"
						placeholder='多条内容请用";"隔开' rows="3"></textarea></td>
			</tr>
			<tr>
				<th>预先创建路径:</th>
				<td colspan="2"><textarea class="ued-test-textarea" name="mkdir"
						placeholder='多条内容请用";"隔开' rows="3" cols="70"></textarea></td>
			</tr>
			<tr>
				<th><em class="font-red">*</em>使用队列:</th>
				<td colspan="3"><input id="idFormQueue_sqoop" readonly="readonly" type="text" value=""
					class="input-1c input-1c-1" name="queue"></input></td>
			</tr>
		</table>
        <div class="pd-10 tc">
            <button type="button" class="ued-button-2 mgr-25" onclick="saveSqoop(this);">确定</button>
            <button type="button" class="ued-button-3 dialog-close">取消</button>
        </div>
    </div>
</div>
	<script type="text/javascript" src="/design/action/sqoop.js"></script>
</body>