<#include "./action/checkfile.html" />
<#include "./action/distcp.html" />
<#include "./action/email.html" />
<#include "./action/encrypt.html" />
<#include "./action/extract.html" />
<#include "./action/ftp.html" />
<#include "./action/fs.html"/>
<#include "./action/hive.html" />
<#include "./action/hive2.html" />
<#include "./action/impala.html" />
<#include "./action/gbase.html" />
<#include "./action/http.html" />

<#include "./action/java.html" />
<#include "./action/load.html" />
<#include "./action/mapreduce.html" />
<#include "./action/md5.html" />
<#include "./action/merge.html" />
<#include "./action/pig.html" />
<#include "./action/procedure.html" />
<#include "./action/shell.html" />
<#include "./action/sortting.html" />
<#include "./action/spark.html" />

<#include "./action/split.html" />
<#include "./action/sql.html" />
<#include "./action/sqoop.html" />
<#include "./action/ssh.html" />
<#include "./action/storm.html" />
<#include "./action/webservice.html" />
<#include "./action/zip.html" />
<#include "./action/child.html" />

<#include "./action/choose.html" />

<#include "./action/wash.html" />
<#include "./action/esload.html" />