#docsapiContent{width: 1200px; margin: 0 auto; padding-top: 20px;  font-size: 12px;}
#docs_api_main{float: left; width: 940px;}
#doc_api_right{float: right; width: 220px;}

.api_data{padding-left: 210px; min-height: 180px; position: relative;}
.api_data_img{position: absolute; left: 0; top: 0; width: 176px; height: 176px; border: 1px solid #eee; border-radius: 2px}

.api_data_info h2{font-size: 20px; line-height: 20px; padding: 10px 0; color: #555;}
.api_data_info h2 strong{padding-right: 5px;}
.api_data_info .h1_span{display: inline-block; font-size: 12px; line-height: 14px; vertical-align: top; border-radius: 2px; font-weight: 400; padding:2px 6px; margin-right: 3px;}
.color_juhe{color: #03c5ff; border: 1px solid #03c5ff;}
.color_mianfei{color: #58d8a3; border: 1px solid #58d8a3;}
.color_auto{color: #ff9445;border:1px solid #ff9445;}
.color_disanfang{color: #ff9445; border: 1px solid #ff9445;}
.color_https{color: #ea68a2; border: 1px solid #ea68a2;}
.color_sdk2{color: #2aa587; border: 1px solid #2aa587;}
.api_data_info .doc_api_decsP{color: #777; line-height: 16px; height: 32px; overflow: hidden; padding: 4px 0 8px;}
.doc_arguments{float: left; height: 20px; line-height: 20px; color: #666; padding-right: 40px; padding-left: 2px;}
.doc_arguments p b{padding-right: 5px; font-weight: normal;}
.docPrice{height:40px;border-left: 1px solid #ddd; padding-left: 38px; line-height: 40px;}
.youhuia{color: #03c5ff; text-decoration: underline;}
.api_data_btns{padding-top: 20px;}
.api_data_btns a{display: inline-block; height: 32px; width: 120px; text-align: center; line-height: 32px; border: 1px sold #03c5ff; background: #03c5ff; color: #fff; border-radius: 2px;}
.api_data_btns a:hover{text-decoration: none;}
.api_data_btns .api_newbtn_demo{border: 1px solid #bbb; color: #888; background: #fff; margin-left: 6px;}
.api_data_btns .api_newbtn_pdf{border: 1px solid #bbb; color: #888; background: #fff; margin-left: 6px;}
.favit{width: 44px; height: 44px; background: url(../images/store.png)  0 -44px no-repeat; position: absolute; right: 0; top: 0;}
.unfavit{width: 44px; height: 44px; background: url(../images/store.png)  0 0 no-repeat; position: absolute; right: 0; top: 0;}
.favit:hover{background-position: 0 -44px;}
.api_data .apiappkey{color: #f19149; position: absolute; left: 546px; top: 148px;}

.docs_api_tab{padding-top: 36px;}
.tabul{height: 30px; line-height: 30px; border-bottom: 1px solid #ddd;}
.tabul li{float: left; height: 28px; line-height: 28px; padding: 0 30px; cursor: pointer;border: 1px solid #fff; background: #fff; color: #666;}
.tabDiv .docs_api_show{display: none; margin-top: 20px; padding-left: 20px;}
.tabul .active{height: 28px; padding-bottom: 1px; color: #03c5ff; font-weight: bold; border: 1px solid #ddd; border-bottom: 1px solid #fff;}

.das_left{float: left; width: 180px; border-right: 1px solid #f2f2f2; min-height: 220px}
.das_left li{line-height: 35px; height: 35px; overflow: hidden;}
.das_left li a{color: #555;  padding-left: 15px;}
.das_left li .selected{color: #00B7EE;  background: url(../images/store.png) 0px -90px no-repeat;}
.das_left li a:hover{text-decoration: none;}

.das_right{float: right; width: 735px; }
.simpleline{line-height: 20px; padding: 12px 0; width: 100%; overflow: hidden; word-break: break-all; color: #777; border-bottom: 1px dashed #f2f2f2;}
.simpleline b{color: #555;}
.simpleline strong{color: #555; font-weight: normal;}
.simpleline span{font-family:inherit;}
.simpleline .api_test_tools{color: #2da7f4; padding-left: 26px; background: url(../images/store.png) 5px -107px no-repeat;}
.api_table{margin-top: 10px; width: 100%; font-family: Menlo,Monaco,Consolas,"Courier New",monospace; font-size: 12px; border-right:1px solid #f2f2f2;border-left:1px solid #f2f2f2;border-top:1px solid #f2f2f2;}
.api_table th{text-align: left; font-weight: 400;border-bottom: 1px solid #f2f2f2; color: #555; height: 34px; line-height: 34px;}
.api_table td{line-height: 20px; padding: 5px 0; border-bottom: 1px solid #f2f2f2; }
.api_table tr.title{ background: #fbfbfb;}
.api_table a{ color:#00B7EE;}
/*.api_table tr:nth-child(2n){background: #fafafa;}*/
.prediv{}
.prediv pre{padding: 20px 0 20px 20px; margin: 10px 0; overflow: hidden; border: 1px solid #eee; background: #fbfbfb;border-radius:4px; color: #666;white-space: pre; line-height: 16px; display: block;overflow: hidden; font-family: Georgia, "Times New Roman", Times, serif,Menlo,Monaco,Consolas,"Courier New",monospace;}
.api_table .url, .simpleline .url{font-family: Georgia, "Times New Roman", Times, serif;}
.docs_api_show .simpleline:last-child{border-bottom: 0;}
.simpleline .blue{color: #00B7EE;}
.sdkBtn{background: #03C5FF; padding: 2px 10px;}
.sdkBtn:hover{text-decoration: none;}
.simpleTable{margin-bottom: 20px; border-bottom: 0;}

/*api_right*/
#doc_api_right{}
#doc_api_right h3{color: #555; font-size: 18px; font-family: inherit; font-size: 20px; padding-bottom: 20px;}
#doc_api_right h3 span{font-size: 12px; font-family: "微软雅黑";color: #777;padding-left: 3px;}
.tuijianapi{padding-bottom: 22px;}
.tuijianapi li{height: 60px; padding-left: 68px; padding-bottom: 18px; position: relative;}
.tuijianapi .tuijianimg{position: absolute;left: 0;top: 0; width: 42px; height: 42px; padding: 8px; border: 1px solid #ddd; border-radius: 2px;}
.tuijianapi .tuijianimg img{width: 42px; height: 42px;}
.tuijianapi .tuijianimg:hover{border: 1px solid #eee;}
.tuijianapi .apiname{font-size: 16px; padding:10px 0 4px; line-height: 20px;text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
.tuijianapi .apiname a{color: #555;}
.tuijianapi .apides{line-height: 16px;color: 12px; color: #888; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}

.apiActivity li{padding-bottom: 20px;}
.apiActivity li a{display: block; width: 220px; height:60px;}
.apiActivity li a img{width: 220px; height: 60px; border-radius: 4px;}