@charset "utf-8";
header{background: #fff; border-bottom: 1px solid #eee;padding-top: 40px;font-family:Tahoma,Arial,Helvetica,"microsoft yahei","Hiragino Sans GB",Simsun,\5b8b\4f53,sans-serif;}
.width100_v4{width: 100%; min-width: 1200px;}
.width1200_v4{width: 1200px; margin: 0 auto;}
#headerTop_v4{height: 80px; position: relative; }
#headerTop_v4 .search_v4{position: absolute; left: 492px; top: 0; width: 450px;}

#searchText_v4{height: 22px; line-height: 22px; width: 340px; padding: 8px 10px 8px 36px; color: #555; border:2px solid #03c5ff; background: url(../images/serch.png) 10px center no-repeat;}
#searchText_v4:focus{outline: none;}
#searchBtn_v4{position: absolute; right: 0; top: 0; *top: 1px; _top:2px; width: 62px; border: 0 none; background: #03C5FF; height: 42px; line-height: 40px; color: #fff; font-size: 16px;}
.hotWord_v4{font-size: 12px; height: 14px; line-height: 14px; padding-top: 8px; overflow: hidden;}
.hotWord_v4 a{color: #999; padding: 0 6px;}
.hotWord_v4 a:first-child{padding-left: 0;}
.hotWord_v4 a:hover,.hotWord_v4 .active{color: #03c5ff; text-decoration: none;}

.userCenter_v4{position: absolute; right: 0; top: 0; height: 45px;}
.userCenter_v4 a{font-size: 16px; font-weight: bold; line-height: 45px; display: inline-block; padding: 0 26px; vertical-align: top; text-decoration: none; letter-spacing: 3px;}
.userCenter_v4 a:hover{opacity: 0.6; filter: alpha(opacity=60);}
.line_v4{height: 45px; border-left: 2px solid #eee; position: absolute; right: 90px; top: 0;}

.width1200_v4 nav{height: 40px; line-height: 40px; padding-top: 13px; position: relative;}
.width1200_v4 nav a{ float:left; line-height: 38px; padding: 0 27px; color: #03C5FF; font-size: 16px; font-weight: bold;}
.width1200_v4 nav .active{border-bottom: 2px solid #03C5FF;}
.width1200_v4 nav a:hover{border-bottom: 2px solid #03C5FF; text-decoration: none;}
.width1200_v4 nav .contact_v4{float: right; font-size: 14px; padding: 0 15px 0 50px; background: url(../images/contact.png) 15px center no-repeat;}

footer{height: 232px; padding: 40px 0 30px; background: #fff; border-top: 1px solid #e7e7e7;font-size: 12px; color: #999;font-family:Tahoma,Arial,Helvetica,"microsoft yahei","Hiragino Sans GB",Simsun,\5b8b\4f53,sans-serif;}
.footerContent_v4{height: 20px; position: relative;}
.footer1_v4{float: left; width: 400px;}
.footer1_v4 .footerLogo{padding-bottom: 30px;}
.footer1_v4 p{line-height: 22px;}
.footer1_v4 .footerContact{font-size: 24px; font-weight: 400; color: #666; padding-left: 82px; margin-top: 30px; background: url(../images/footerContactBg.png) left center no-repeat;}
.footerDl_v4{float: left; width: 120px; text-align: left;margin-top: 10px;}
.footerDl_v4 dt{font-size: 16px; color: #777; padding-bottom: 10px;}
.footerDl_v4 dd a{line-height: 24px; color: #999;}
.footerDl_v4 dd a:hover{text-decoration: underline;}
.juheCode_v4{float: left; padding-left: 50px; padding-top: 20px; width: 112px; height: 150px; text-align: center;}
.juheCode_v4 p{padding-top: 10px;}


